<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div [ngSwitch]="accounts?.length">
        <div class="alert" *ngSwitchCase="0">
          No Accounts Found
        </div>
        <div>
          <table class="table table-dark table-striped table-condensed" *ngSwitchDefault>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">IsEmployee</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of accounts; let i = index">
                <td><a [routerLink]="account.id">{{account.name}}</a></td>
                <td>{{account.email}}</td>
                <td>{{account.isEmployee ? 'Y' : 'N'}}</td>
                <button class="btn btn-sm btn-danger mt-2" (click)="deleteRow(account.id, i)">X</button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <a class="btn btn-sm btn-success" routerLink="new">Add New Account</a>
  </div>
</div>
